<div id="auth-modal" class="modal-backdrop">
  <div class="modal-content">
    <button class="close-btn" (click)="closeModal()">×</button>
    <div *ngIf="showLogin; else signupTemplate">
      <app-login></app-login>
      <p class="toggle-text">Don't have an account? <span (click)="toggleAuthMode()">Sign up</span></p>
    </div>
    <ng-template #signupTemplate>
      <app-signup></app-signup>
      <p class="toggle-text">Already have an account? <span (click)="toggleAuthMode()">Log in</span></p>
    </ng-template>
  </div>
</div>
