@import "../../../styles.scss";

.blur-3xl {
  --tw-blur: blur(64px);
  filter: var(--tw-blur);
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.text-transparent {
  color: transparent;
}
